<div class="card border-primary text-center col-lg-6">
<div class="card-header">{{titulo}}</div>
    <div class="card-body"> 
        <form method="POST">
            <div class="form-group col-sm-6 col-lg-12"> 
                <input [(ngModel)]="usuario.username"  type = "text" class="form-control" name="username" id="username" placeholder="Username" autofocus required #username="ngModel">
                <div class="alert alert-danger" *ngIf="username.invalid && (username.dirty || username.touched)">
                    <div *ngIf="username.errors.required">
                      Usuario es requerido
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-6 col-lg-12"> 
                <input [(ngModel)]="usuario.password" type = "password" class="form-control" name="password" id="password" placeholder="Password" required> 
            </div>
            <div class="form-group col-sm-6 col-lg-6"> 
                <input (click)='login()' type = "submit" class="btn btn-lg btn-primary btn-block" value="Login"> 
            </div>
        </form>

    </div>
</div>
