
<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">
<div class="modal" tabindex="-1" style="display: block;">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{title}}</h5>
        <button type="button" (click)="closeModal()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
        <div class="row">
          <div class="col-sm"> 

            <ul *ngIf="cliente" class="list-group text-dark mb-3">
              <li class="list-group-item active">{{cliente.firstname}}</li>
              <li class="list-group-item">{{cliente.lastname}}</li>
              <li class="list-group-item">{{cliente.email}}</li>
              <li class="list-group-item">{{cliente.createAt | date: "fullDate"}}</li>
              <li class="list-group-item">{{cliente.region.name}}</li>
            </ul>

            <div class="input-group mb-3" *ngIf="authService.hasRole('ROLE_ADMIN')">
              <div class="custom-file">
                <input (change)="selectPhoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                <label class="custom-file-label" for="inputGroupFile04">Seleccionar foto</label>
              </div>
              <div class="input-group-append">
                <button (click)="uploadPhoto()" [disabled]="!imageSelected" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir foto</button>
              </div>
            </div>

            <div *ngIf="progress > 0" class="progress" style="height: 30px;">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [ngStyle]="{width: progress+'%'}" attr.aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                {{progress}}%
              </div>
            </div>

          </div>
          <div class="col-sm" > 
            <img *ngIf="cliente?.photo" src="http://localhost:8080/api/1/upload/img/{{cliente.photo}}" alt="{{cliente.photo}}" class="img-thumbnail rounded">
          </div>
        </div>
      </div>

      </div>
      <div class="modal-footer">
        <button (click)="closeModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
</div>