<ul class="alert alert-danger" *ngIf="errors?.length > 0">
  <li *ngFor = "let error of errors">
      {{error}}
  </li>
</ul>


<div class="card bg-dark text-white my-5"> 
    <div class="card-header"> {{title}} </div>
    <div class="card-body">

<form #clienteForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstname">Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="cliente.firstname" name="firstname" required #nombre="ngModel"> <!-- minlength="4"-->
      <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <div *ngIf="nombre.errors.required">
            Nombre es requerido
          </div>
          <div *ngIf="nombre.errors.minlength">
            Nombre debe tener al menos 4 caracteres
          </div>
      </div>
      </div>

      <div class="form-group col-md-6">
        <label for="lastname">Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="cliente.lastname" name="lastname" #apellido="ngModel"> <!-- required -->
        <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
          <div *ngIf="apellido.errors.required">
            Apellido es requerido
          </div>
        </div>
      </div>
    </div>


    <div class="form-row">
      <div class="form-group col-md-6">

      <label for="email">Email</label>
      <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" required email #email="ngModel">
      <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
        <div *ngIf="email.errors.required">
          Email es requerido
        </div>
        <div *ngIf="email.errors.email">
          Email debe tener formato valido
        </div>
      </div>

      </div>

    <div class="form-group col-md-2">
        <label for="createAt">Fecha</label>
        <input matInput [matDatepicker]="myDatePicker" class="form-control" [(ngModel)]="cliente.createAt" name="createAt" style="display:inline; width:300px;">
        <mat-datepicker-toggle matSuffix [for]="myDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatePicker></mat-datepicker>
    </div>

  </div>


  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="createAt">Región</label>
      <select [compareWith]="compareRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="width:500px;">
        <option [ngValue]="undefined">--- Seleccionar una región ---</option>
        <option *ngFor="let region of regiones" [ngValue]="region">{{region.name}}</option>
      </select>
    </div>
  </div>
   
    <button type="submit" class="btn btn-primary" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

    <ng-template #elseBlock> 
        <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!clienteForm.form.valid">Editar</button>
    </ng-template>
  </form>

</div>
</div>
