<app-detail *ngIf="clienteSelected" [cliente]="clienteSelected"> </app-detail>

<div class="card border-success mb-3">
    <div class="card-header bg-transparent border-success">Listado de Clientes</div>
    <div class="card-body text-success">

<div class="my-2 text-left"> 
    <button  *ngIf="authService.hasRole('ROLE_ADMIN')"  class="btn btn-rounded btn-primary" type="button" [routerLink]= "['/clientes/form']" > Crear Cliente</button>
</div>
    <div *ngIf="clientes?.length == 0" class="alert alert-info"> 
        No hay registros en la base de datos!
    </div>
    <table class="table table-bordered table-striped" *ngIf="clientes?.length > 0">
        <thead>
            <tr>
                <th>Perfil</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Fecha</th>
                <th *ngIf="authService.hasRole('ROLE_ADMIN')">
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>
                    <img (click)="openModal(cliente)" *ngIf="cliente?.photo" src="http://localhost:8080/api/1/upload/img/{{cliente.photo}}" alt="{{cliente.photo}}" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                    <img (click)="openModal(cliente)" *ngIf="!cliente?.photo" src="http://localhost:8080/images/not-user.png" alt="Sin foto" class="img-thumbnail rounded" style="width: 64px; cursor: pointer;">
                </td>
                <td>{{cliente.firstname}}</td>
                <td>{{cliente.lastname | uppercase }}</td>
                <td>{{cliente.email}}</td>
                <td>{{cliente.createAt | date:"EEEE dd, MMMM yyyy"}}</td>
                <td *ngIf="authService.hasRole('ROLE_ADMIN')" >
                    <button type="button" name="editar" [routerLink]="['/clientes/form', cliente.id]" class="btn btn-primary btn-sm">Editar</button>

                    <button type="button" name="eliminar" (click)='delete(cliente)' class="btn btn-danger btn-sm mx-2">Eliminar</button>
                </td>
            </tr>

        </tbody>
    </table>
        <paginator-nav *ngIf="paginator" [paginador] = "paginator"> </paginator-nav> <!-- si se cumple el ngIF sigue ejecutando para la derecha -> ya sea propiedades o asignaciones -->
    </div>
</div>